{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://serviceseu1.quentry.com/api/v2",
      "description": "Quentry production environment for EU and US regions"
    },
    {
      "url": "https://servicesau1.quentry.com/api/v2",
      "description": "Quentry production environment for Australia region"
    }
  ],
  "info": {
    "title": "Quentry API",
    "summary": "QUENTRY REST API",
    "contact": {
      "url": "https://www.brainlab.com/quentry-cloud-services/",
      "email": "quentry.api@brainlab.com"
    },
    "version": "V2",
    "x-logo": {
      "url": "https://developers.quentry.com/RestApi/Quentry.png",
      "altText": "Quentry"
    },
    "description": "#### Note: This is a \"work in progress\" documentatioon. For a released version of the API please refer to: https://developers.quentry.com/RestApi/quentry-v1.0.0/api.html\n\nBefore start using the API, you must have Quentry credentials. \nIf you haven't done so already, please register at: https://www.quentry.com/ng-WebPortal/#/login/createregistration\nMake sure to activate your account using the activation link sent to you at the end of the registration process.\n\n# Basic Usage\n\nThe following basic curl commands you can use as a quick start reference. Make sure to replace the MyClientApplicationName in the VoyantClientAppName header with the Application Name provided to you by the Quentry R&D team.\nIf you don't have application name yet, please contact us at quentry.api@brainlab.com\n\n\n## 1. Login \nThe following examples shows how to make the initial login request in order to obtain session.\nMake sure to replace MyPassword and MyUser with your credentials.\n\nExample:\n```\n    curl --location \"https://[ServerUrl]/api/v2/sessions\" \n    --header \"VoyantClientAppName: MyClientApplicationName\" \n    --header \"VoyantClientAppVersion: MyClientApplicationVersion\" \n    --header \"Content-Type: application/json\" \n    --data \"{\n    \\\"password\\\": \\\"MyPassword\\\",\n    \\\"username\\\": \\\"MyUser\\\"\n    }\"\n```\nThe result of the login call includes a Session Token and a Web Api endpoint which you __must use__ \nwith any additional calls you make to the API. You also get the current user system ID which you \ncan use in the next step when uploading files. For Example:\n\n```\n{\n\"data\": {\n    \"dicomWebURL\": null,\n    \"token\": \"MySessionToken....\",\n    \"region\": 2,\n    \"webAPIURL\": \"https://[ApiUrl]/api\",\n    \"userSystemId\": \"12345678-1234-1234-1234-12345678\"\n  }\n}\n```\n\n## 2. Upload\nUploading files to Quetry is done in a transctional method in order to ensure the completness of the files\n(all or nothing).\n### - Start Upload\n\n```\n  curl --location \"https://[ApiUrl]/api/v2/files\" \n  --header \"Authorization: Token MySessionToken\" \n  --header \"VoyantClientAppName: MyClientApplicationName\" \n  --header \"VoyantClientAppVersion: MyClientApplicationVersion\" \n  --header \"Content-Type: application/json\" \n  --data \"{\n  \\\"folderTitle\\\": \\\"MyFolderTitle\\\",\n  \\\"ownerSystemId\\\":\\\"RecipientOwnerID\\\"\n  }\"\n```\n\nAs a response for this call you get the unqiue system ID of the folder, an upload id to be used with the next\ncalls and a unique upload endpoint where you should make the rest of the calls for this specific upload.\nFor example:\n\n```\n{\n\"data\": {\n    \"folder\": {\n        \"folderSystemId\": \"1000000000001234567\"\n    },\n    \"uploadId\": \"UploadId\",\n    \"uploadUrl\": \"https://upload-server.quentry.com:443/api/v2/\"\n  }\n}\n```\n\n### - Add File\n(Using the uploadId from the previous call)\n\n```\ncurl --location \"https://upload-server.quentry.com:443/api/v2/files/UploadId\" \n--header \"Authorization: Token MySessionToken\" \n--header \"VoyantClientAppName: MyClientApplicationName\" \n--header \"VoyantClientAppVersion: MyClientApplicationVersion\" \n--header \"Content-Type: multipart/form-data\" \n--form \"chunkNumber=\\\"1\\\"\" \n--form \"fileName=\\\"file.dcm\\\"\" \n--form \"fileSize=\\\"111\\\"\" \n--form \"isLastChunkInFile=\\\"true\\\"\" \n--form \"uploadId=\\\"UploadId\\\"\" \n--form \"file=@\\\"/D:/dicoms/801 items/file.dcm\\\"\" \n--form \"fileId=\\\"12345678-1234-1234-1234-12345678\\\"\"\n```\n\nResponse: http 201\n\n\n### - Finish Upload\n(Using the uploadId from the start upload call)\n```\ncurl --location --request PUT \"https://upload-server.quentry.com:443/api/v2/files/UploadId\" \n--header \"Authorization: Token MySessionToken\" \n--header \"VoyantClientAppName: MyClientApplicationName\" \n--header \"VoyantClientAppVersion: MyClientApplicationVersion\" \n--header \"Content-Type: application/json\" \n--data \"{\n\\\"uploadId\\\": \\\"UploadId\\\"\n}\"\n```\n\nResponse: http 200\n\n## 3. Download\nThe download endpoint let you select the data you want to download by providing the system IDs.\nExample:\n\n```\ncurl --location 'https://api-eu.quentry.com/api/v2/patients/xxx/folders/xxx/download'\n--header 'Authorization: Token MySessionToken' \n--header 'VoyantClientAppName: MyClientApplicationName' \n--header 'VoyantClientAppVersion: MyClientApplicationVersion' \n--header 'Content-Type: application/json' \n```\n\nThe above call reutrns a response, similar to the following (sensitive data replaced by 'xxx'):\n\n```\n{\n\"data\": {\n    \"zip\": \"https://production-eu-west-1-download.quentry.com/v1/download/folders/xxx?contextId=xxx&token=xxx\",\n    \"files\": [\n        {\n            \"originalFileType\": \"DICOM\",\n            \"dicomMetadata\": {\n                \"studyInstanceUid\": \"xxx\",\n                \"seriesUid\": \"xxx\",\n                \"instanceUid\": \"xxx\",\n                \"frameNumber\": null,\n                \"ordinalSlicePosition\": 0,\n                \"sopClassUid\": \"1.2.840.10008.5.1.4.1.1.4\",\n                \"modality\": \"MR\"\n            },\n            \"systemMetadata\": {\n                \"studySystemId\": \"xxx\",\n                \"seriesSystemId\": \"xxx\",\n                \"instanceSystemId\": \"xxx\"\n            },\n            \"mimeType\": \"application/dicom\",\n            \"downloadUrl\": \"xxx\",\n            \"fileSystemId\": \"xxx\"\n        },\n      ]\n    }\n  }\n```\nThe response includes download URLs for getting the data as compressed zip file or extracted files.\n\nThe download API also provides with direct URLs to spcific study or Series:\n```\nhttps://api-eu.quentry.com/api/v2/patients/xxx/folders/xxx/studies/xxx/download\nhttps://api-eu.quentry.com/api/v2/patients/xxx/folders/xxx/studies/xxx/serieses/xxx/download\n```\n\nIf you don't know the folder, study or series IDs, you can retrieve them from the search endpoint\nresponse which also returns a link to the donwload endpoint. Exaple search response:\n\n```\n        ...\n        \"download-link\": \"/patients/xxx/folders/xxx/download\"\n        ...\n        \"download-link\": \"/patients/xxx/folders/xxx/studies/xxx/serieses/xxx/download\",\n        ...\n```\n\n# Detailed API\nThe following lists the supported API calls.\n"
  },
  "paths": {
    "/sessions": {
      "put": {
        "tags": [
          "Sessions"
        ],
        "summary": "Update session",
        "description": "Update the current session",
        "operationId": "sessions.put",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "operation completed succesfully"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      },
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Login",
        "description": "Perform a login operation to the Quentry platform. A session token is returned upon a successfull login.",
        "operationId": "sessions.post",
        "parameters": [
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCredentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succesfull login",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LoginResult"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Login failed",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Code": {
                      "type": "integer",
                      "description": "User is unauthorized to access the system. The following error code may return in case of unauthorized access.\n\n50102 - Invalid login credentials (wrong user name or password), please try again.\n\n50104 - Incomplete agreements signs (user has not signed the required agreements). Please login to the Web Portal and complete all agreement signing.\n\n50105 - User is blocked, please contact support.\n\n50106 - User is blocked (number of allowed login attempts exceeded). Please reset your password.\n\n50111 - Password has expired and must be changed.\n\n5010113 - User is not active. Please use the first time activation key provided by mail after registration.\n\n50114 - Specific license regulatory documents signing is missing.\n\n50116 - User does not have the required license in order to access Quentry.",
                      "enum": [
                        50102,
                        50104,
                        50105,
                        50106,
                        50111,
                        5010113,
                        50114,
                        50116
                      ]
                    },
                    "Message": {
                      "type": "string",
                      "example": "Invalid login credentials (wrong user name or password), please try again."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MfaRequired"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "Logout",
        "description": "Close the session and logout from the system",
        "operationId": "sessions.delete",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "operation completed succesfully"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      }
    },
    "/mfa/challenge": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Respond to MFA Challenge",
        "description": "The client application should call this endpoint with the MFA challenge that returned from the call to the /sessions endpoint togher with the MFA code from the user. A session token is returned upon a successfull login.",
        "operationId": "mfa.challenge.post",
        "parameters": [
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MfaChallenge"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succesfull login",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LoginResult"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Login failed",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Code": {
                      "type": "integer",
                      "description": "User is unauthorized to access the system. The following error code may return in case of unauthorized access.\n\n50102 - Invalid login credentials (wrong user name or password), please try again.\n\n50104 - Incomplete agreements signs (user has not signed the required agreements). Please login to the Web Portal and complete all agreement signing.\n\n50105 - User is blocked, please contact support.\n\n50106 - User is blocked (number of allowed login attempts exceeded). Please reset your password.\n\n50111 - Password has expired and must be changed.\n\n5010113 - User is not active. Please use the first time activation key provided by mail after registration.\n\n50114 - Specific license regulatory documents signing is missing\n\n50116 - User does not have the required license in order to access Quentry.\n\n10081 - Missing MFA challenge data\n\n10082 - MFA wrong code\n\n10083 - MFA code expired\n\n10084 - General error, please contact support.",
                      "enum": [
                        50102,
                        50104,
                        50105,
                        50106,
                        50111,
                        5010113,
                        50114,
                        50116,
                        10081,
                        10082,
                        10083,
                        10084
                      ]
                    },
                    "Message": {
                      "type": "string",
                      "example": "Invalid login credentials (wrong user name or password), please try again."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MfaRequired"
                }
              }
            }
          }
        }
      }
    },
    "/forms/search": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Search for dynamic forms by some search parameters",
        "description": "Search for forms. Example: api/v2/forms/search?formName=myForm&formVersion=1.0&criterias[0].field=data.b&criterias[0].value=val1&patientSystemId=12345",
        "operationId": "forms.formSystemId.search.get",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "formName",
            "in": "query",
            "description": "the name of the form to include in the search",
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formVersion",
            "in": "query",
            "description": "the version of the form to include in the search",
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldFullPath",
            "in": "query",
            "description": "the path of the form field to search",
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldValue",
            "in": "query",
            "description": "the value to search for",
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "one or more eForms for this patient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "description": "system IDs of the forms found in the search",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "description": "unauthorized. You do not have permissions to delete this form."
          }
        }
      }
    },
    "/forms/{formSystemId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Retrieve dynamic form by its ID",
        "description": "Get a form",
        "operationId": "forms.formSystemId.get",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "formSystemId",
            "in": "path",
            "description": "the unique system ID of the form",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "one or more eForms for this patient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "form": {
                          "$ref": "#/components/schemas/eform"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "description": "unauthorized. You do not have permissions to delete this form."
          }
        }
      },
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Update dynamic form by its ID",
        "description": "Update a form",
        "operationId": "forms.formSystemId.put",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "formSystemId",
            "in": "path",
            "description": "the unique system ID of the form",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "operation completed succesfully."
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "description": "unauthorized. You do not have permissions to delete this form."
          }
        }
      },
      "delete": {
        "tags": [
          "Forms"
        ],
        "summary": "Delete dynamic form by its ID",
        "description": "Delete a form",
        "operationId": "forms.formSystemId.delete",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "formSystemId",
            "in": "path",
            "description": "the unique system ID of the form",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "operation completed succesfully."
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "description": "unauthorized. You do not have permissions to delete this form."
          }
        }
      }
    },
    "/patients/search": {
      "post": {
        "tags": [
          "Patients",
          "M2M"
        ],
        "summary": "Search patients",
        "description": "Search for patients and its data based on some criterias.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip before returning the results",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of items to return",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "default": 20
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "criterias": {
                    "description": "optional fields of search criterias on different levels (patient, folder, dicom data)",
                    "type": "object",
                    "properties": {
                      "patientName": {
                        "type": "string",
                        "description": "optional. filter by patient name DICOM tag [0010,0010]",
                        "example": "Doe^John"
                      },
                      "patientId": {
                        "type": "string",
                        "description": "optional. filter by patient ID DICOM tag [0010,0020]",
                        "example": "MRN123"
                      },
                      "patientSex": {
                        "type": "string",
                        "description": "optional. filter by patient sex DICOM tag [0010,0040]",
                        "example": "M",
                        "enum": [
                          "M",
                          "F",
                          "O"
                        ]
                      },
                      "patientDateOfBirth": {
                        "type": "string",
                        "description": "optional. filter by patient DOB DICOM tag [0010,0030] (YYYY-MM-DD)",
                        "example": "1879-03-14"
                      },
                      "folderTitle": {
                        "type": "string",
                        "description": "optional. search by folder title",
                        "example": "My Folder"
                      },
                      "studyDescription": {
                        "type": "string",
                        "description": "optional. search by study description [0008,1030]",
                        "example": "My study desc"
                      },
                      "folderModifiedFrom": {
                        "type": "string",
                        "description": "optional. filter by folder modified from specific date (YYYY-MM-DD)",
                        "example": "2020-05-23"
                      },
                      "folderModifiedTo": {
                        "type": "string",
                        "description": "optional. filter by folder modified to specific date (YYYY-MM-DD)",
                        "example": "2020-05-23"
                      },
                      "folderUploadedFrom": {
                        "type": "string",
                        "description": "optional. filter by uploaded from specific date (YYYY-MM-DD)",
                        "example": "2020-05-23"
                      },
                      "folderUploadedTo": {
                        "type": "string",
                        "description": "optional. filter by uploaded to specific date (YYYY-MM-DD)",
                        "example": "2020-05-23"
                      },
                      "patientSystemId": {
                        "type": "string",
                        "description": "optional. search for data of a specific patient by its ID",
                        "example": "123-ABC-456"
                      },
                      "ownerSystemId": {
                        "type": "string",
                        "description": "optional. filter by the system unique identifier of the patient owner (careteam or user)",
                        "example": "123-ABC-456"
                      }
                    }
                  },
                  "select": {
                    "type": "object",
                    "description": "specify the requested result set from the search",
                    "properties": {
                      "resultLevel": {
                        "type": "string",
                        "enum": [
                          "Patient",
                          "Folder",
                          "Study",
                          "Series"
                        ],
                        "description": "optional. Define the result return level. The following levels are supported: \nPatient, Folder, Study, Series\n\n The result includs all level above it. For example, choosing Study will also return Patient and Folder.\n\n Default value is Patient",
                        "default": "Patient",
                        "example": "Study"
                      }
                    }
                  },
                  "options": {
                    "type": "object",
                    "description": "specify additional search options",
                    "properties": {
                      "criteriasOperator": {
                        "type": "string",
                        "enum": [
                          "AND",
                          "OR"
                        ],
                        "description": "optional. define the logical search operator between the differnt search criterias",
                        "default": "OR"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "one or more patients for this client",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "patients": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PatientWithFolders"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      }
    },
    "/patients": {
      "post": {
        "tags": [
          "Patients",
          "M2M"
        ],
        "summary": "Create a new patient",
        "description": "Use this API for creating a patient in a Quentry account. In Quentry, a patient belongs to an account and may have one of more folders, eForms and other metadata. This API allows you to create the basic patient metadat information. As a result you will get the internal Quentry patient system identifier which can be used with other API calls for adding data for the patient modifying or deleting it. The API returns an existing patient system ID in case it already exists with returned http code of 409.",
        "operationId": "patients.post",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "requestBody": {
          "description": "the details about the patient to be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Patient"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "patient was succesfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "patientSystemId": {
                          "type": "string",
                          "description": "the new patient unique identifier"
                        },
                        "link": {
                          "type": "string",
                          "description": "url for the resource",
                          "example": "/patients/123-ABC-456"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "description": "Duplicate record. Patient already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "patientSystemId": {
                          "type": "string",
                          "description": "the new patient unique identifier"
                        },
                        "link": {
                          "type": "string",
                          "description": "url for the resource",
                          "example": "/patients/123-ABC-456"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "412": {
            "description": "Precondition failed. Please check the data that was sent to the server"
          }
        }
      }
    },
    "/patients/{patientSystemId}": {
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "Get specific patient information based on its ID",
        "description": "Get all the patients you have access to",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "the details about the requested patient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PatientWithFoldersAndFormsLinks"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "404": {
            "description": "patient does not exist or you may not have permissions to access it."
          }
        }
      },
      "delete": {
        "tags": [
          "Patients"
        ],
        "summary": "Delete a patient",
        "description": "Delete a patient. This will delete the entire patient, and all of its data including all of its folders. There is no way back!",
        "operationId": "patients.patientsystemid.delete",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "operation completed succesfully"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      },
      "patch": {
        "tags": [
          "Patients"
        ],
        "summary": "Update a patient",
        "description": "Update patient demographics (Name, ID, DOB, Sex). This operation triggers a reconciliation on all DICOM files belongs to this patient.",
        "operationId": "patients.patientsystemid.put",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatientDemographics"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "operation completed succesfully."
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "description": "selected patient not found."
          },
          "409": {
            "description": "operation could not be completed due to duplicate patient demographics. The selected update patient details already exists in Quentry. Please use the 'Merge' method in order to merge the two patients together."
          }
        }
      }
    },
    "/careteams/{careTeamSystemId}/patients/{patientSystemId}": {
      "delete": {
        "tags": [
          "CareTeams"
        ],
        "summary": "Delete a patient from specific care team",
        "description": "Delete a patient. This will delete the entire patient, and all of its data including all of its folders from specific care team. There is no way back!",
        "operationId": "careteams.careTeamSystemId.patients.patientsystemid.delete",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "careTeamSystemId",
            "in": "path",
            "description": "the unique system ID of the care team",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "operation completed succesfully"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "412": {
            "description": "Precondition failed. Please check the data that was sent to the server"
          }
        }
      }
    },
    "/patients/{patientSystemId}/mergeTo/{otherPatientSystemId}": {
      "patch": {
        "tags": [
          "Patients"
        ],
        "summary": "Merge two patients",
        "description": "Merge two patients together. This will merge all patient data includindg, folders, eForm and any demographics with the selected target patietns. This operation triggers a reconciliation on all DICOM files belongs to this patient. The origin patient system ID will no longer be available after this operation.",
        "operationId": "patients.patientsystemid.mergeTo.otherPatientSystemId.patch",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "otherPatientSystemId",
            "in": "path",
            "description": "the unique system ID of the target patient to merge to",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "operation completed succesfully"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "description": "trying to merge patients that belong to different accounts."
          }
        }
      }
    },
    "/patients/{patientSystemId}/folders/{folderSystemId}/forms": {
      "post": {
        "tags": [
          "Forms - Folder"
        ],
        "summary": "Submit form to a folder",
        "description": "Submit a form to folder",
        "operationId": "Submit Folder Form",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/folderEform"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "operation completed succesfully and a new resource created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "resourceSystemId": {
                          "type": "string",
                          "description": "the new form unique identifier"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/patients/{patientSystemId}/folders/{folderSystemId}/forms/{formSystemId}": {
      "get": {
        "tags": [
          "Forms - Folder",
          "M2M"
        ],
        "summary": "Get patient folder form",
        "description": "Get specific form from a folder",
        "operationId": "Get Folder Form",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder to get its details",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "formSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "one or more eForms for this patient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "form": {
                          "$ref": "#/components/schemas/eform"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      },
      "delete": {
        "tags": [
          "Forms - Folder",
          "M2M"
        ],
        "summary": "Delete patient folder form",
        "description": "Delete a specific form of a folder",
        "operationId": "Delete Folder Form",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "formSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "operation completed succesfully"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Forms - Folder",
          "M2M"
        ],
        "summary": "Update patient folder form",
        "description": "Update the content value of the form",
        "operationId": "Update Folder Form",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder to get its details",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "formSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eformData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "operation completed succesfully"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/files": {
      "post": {
        "tags": [
          "Upload - New Folder",
          "M2M"
        ],
        "summary": "Start Upload",
        "description": "Start uploading multiple files to a new folder. A new patient will be created in case it does not yet exists, based on the DICOM data that is uploaded.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "ownerSystemId"
                ],
                "type": "object",
                "properties": {
                  "folderTitle": {
                    "type": "string",
                    "description": "the title of the new folder to be created for this upload",
                    "example": "My Folder"
                  },
                  "ownerSystemId": {
                    "type": "string",
                    "example": "123-ABC-456",
                    "description": "the owner of the new folder to be created (CareTeam or User)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "start upload succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "uploadId": {
                          "type": "string",
                          "description": "the upload identifier to be used for the upload of each file.",
                          "example": "123-ABC-456"
                        },
                        "uploadUrl": {
                          "type": "string",
                          "description": "a base url for the additional calls of each file to be uploaded.",
                          "example": "https://upload1.quentry.com/"
                        },
                        "folder": {
                          "type": "object",
                          "description": "optional. Contais data about the folder that was created for this upload",
                          "properties": {
                            "folderSystemId": {
                              "type": "string",
                              "description": "the new folder unique identifier",
                              "example": "123-ABC-456"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/files/{uploadId}": {
      "post": {
        "tags": [
          "Upload - New Folder",
          "M2M"
        ],
        "summary": "Upload File",
        "description": "Continue upload to a folder. File can be splitted into multiple chunks. Make a call for each chunk specifying the chunk number and the total chunks containing in the file. The server will start processing the file only after all chunks have been arrived. Make sure to use the endpoint URL provided to you in the response to the Start Upload call.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "uploadId",
            "in": "path",
            "description": "the upload identifier that was returned in the Start Upload request",
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "fileName",
                  "fileSize",
                  "isLastChunkInFile",
                  "file"
                ],
                "type": "object",
                "properties": {
                  "fileName": {
                    "type": "string",
                    "example": "myFile.dcm"
                  },
                  "fileSize": {
                    "type": "integer",
                    "description": "the total size of the file in bytes",
                    "example": 1024
                  },
                  "isLastChunkInFile": {
                    "type": "boolean",
                    "description": "set to true if this is the last chunk of the file or if this is a single file upload flow",
                    "example": 1
                  },
                  "chunkNumber": {
                    "type": "integer",
                    "description": "the current chunk number of the file. This parameter is required when splitting large files into multiple chunks.",
                    "example": 1
                  },
                  "fileId": {
                    "type": "integer",
                    "description": "unique GUID identifier of the file. This parmeter is only required when splitting large files into multiple chunks.",
                    "example": 5
                  },
                  "file": {
                    "type": "string",
                    "description": "the file data"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "file uploaded succesfully"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      },
      "put": {
        "tags": [
          "Upload - New Folder",
          "M2M"
        ],
        "summary": "Finish Upload",
        "description": "Finish the upload process. Make sure to use the endpoint URL provided to you in the response to the Start Upload call.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "uploadId",
            "in": "path",
            "description": "the upload identifier that was returned in the Start Upload request",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "upload finished"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again"
          }
        }
      }
    },
    "/patients/{patientSystemId}/folders/{folderSystemId}/files": {
      "post": {
        "tags": [
          "Upload - Existing Folder",
          "M2M"
        ],
        "summary": "Start Upload",
        "description": "Start uploading multiple files to an existing folder.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder to upload files",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "start upload succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "uploadId": {
                          "type": "string",
                          "description": "the upload identifier to be used for the upload of each file.",
                          "example": "123-ABC-456"
                        },
                        "uploadUrl": {
                          "type": "string",
                          "description": "a base url for the additional calls of each file to be uploaded.",
                          "example": "https://upload1.quentry.com/"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/patients/{patientSystemId}/folders/{folderSystemId}/files/{uploadId}": {
      "post": {
        "tags": [
          "Upload - Existing Folder",
          "M2M"
        ],
        "summary": "Upload File",
        "description": "Continue upload to a folder. \n  \n  File can be splitted into multiple chunks. Make a call for each chunk specifying the chunk number and the total chunks containing in the file. The server will start processing the file only after all chunks have been arrived.\n            \n            \n  __Note:__ for transactional upload this call should use the base URL provided to you in the GET response. \n  \n  \n",
        "operationId": "patients.patientsystemid.folders.foldersystemid.files.post",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder to upload files",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "uploadId",
            "in": "path",
            "description": "the upload identifier that was returned in the Start Upload request",
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "fileName",
                  "fileSize",
                  "isLastChunkInFile",
                  "file"
                ],
                "type": "object",
                "properties": {
                  "fileName": {
                    "type": "string",
                    "example": "myFile.dcm"
                  },
                  "fileSize": {
                    "type": "integer",
                    "description": "the total size of the file in bytes",
                    "example": 1024
                  },
                  "isLastChunkInFile": {
                    "type": "boolean",
                    "description": "set to true if this is the last chunk of the file or if this is a single file upload flow",
                    "example": 1
                  },
                  "chunkNumber": {
                    "type": "integer",
                    "description": "the current chunk number of the file. This parameter is required when splitting large files into multiple chunks.",
                    "example": 1
                  },
                  "fileId": {
                    "type": "integer",
                    "description": "unique GUID identifier of the file. This parmeter is only required when splitting large files into multiple chunks.",
                    "example": 5
                  },
                  "file": {
                    "type": "string",
                    "description": "the file data"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "file uploaded succesfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "uploadId": {
                          "type": "string",
                          "description": "the upload identifier",
                          "example": "123-ABC-456"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      },
      "put": {
        "tags": [
          "Upload - Existing Folder",
          "M2M"
        ],
        "summary": "Finish Upload",
        "description": "Finish an upload process.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder to upload files",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "uploadId",
            "in": "path",
            "description": "the upload identifier that was returned in the Start Upload request",
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "description": "upload ID completed succesfully. Upload finished."
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      }
    },
    "/patients/{patientSystemId}/folders": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Create new folder",
        "description": "Create a new folder for a patient",
        "operationId": "patients.patientsystemid.folders.post",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "requestBody": {
          "description": "the details about the folder to be created.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "owner",
                  "title"
                ],
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "the title of the folder",
                    "example": "My Folder Title"
                  },
                  "owner": {
                    "type": "object",
                    "properties": {
                      "ownerType": {
                        "type": "string",
                        "enum": [
                          "CareTeam",
                          "User"
                        ]
                      },
                      "systemId": {
                        "type": "string",
                        "description": "the system ID of the owner (CareTeam or User)",
                        "example": "123-ABC-456"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "folder was succesfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "folderSystemId": {
                          "type": "string",
                          "description": "the new folder unique identifier"
                        },
                        "link": {
                          "type": "string",
                          "description": "url for the resource",
                          "example": "/patients/123-ABC-456/folders/123-ABC-456"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/patients/{patientSystemId}/folders/{folderSystemId}/download": {
      "get": {
        "tags": [
          "Download",
          "M2M"
        ],
        "summary": "Folders download data",
        "description": "This API returns all download options for a folder.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder to get its download details",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "$ref": "#/components/parameters/Format"
          },
          {
            "$ref": "#/components/parameters/Compression"
          },
          {
            "$ref": "#/components/parameters/Width"
          },
          {
            "$ref": "#/components/parameters/Height"
          }
        ],
        "responses": {
          "200": {
            "description": "defines a metadata about files download links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/downloadMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/patients/{patientSystemId}/folders/{folderSystemId}/studies/{studySystemId}/download": {
      "get": {
        "tags": [
          "Download",
          "M2M"
        ],
        "summary": "Study download data",
        "description": "This API returns all download options for a study.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder the study belongs to",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "studySystemId",
            "in": "path",
            "description": "the unique system ID of the study to get its download details",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "$ref": "#/components/parameters/Format"
          },
          {
            "$ref": "#/components/parameters/Compression"
          },
          {
            "$ref": "#/components/parameters/Width"
          },
          {
            "$ref": "#/components/parameters/Height"
          }
        ],
        "responses": {
          "200": {
            "description": "defines a metadata about files download links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/downloadMetadata"
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/patients/{patientSystemId}/folders/{folderSystemId}/studies/{studySystemId}/serieses/{seriesSystemId}/download": {
      "get": {
        "tags": [
          "Download",
          "M2M"
        ],
        "summary": "Series download data",
        "description": "This API returns all download options for a series.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder the study belongs to",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "studySystemId",
            "in": "path",
            "description": "the unique system ID of the study the series belongs to",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "seriesSystemId",
            "in": "path",
            "description": "the unique system ID of the series to get its download details",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "$ref": "#/components/parameters/Format"
          },
          {
            "$ref": "#/components/parameters/Compression"
          },
          {
            "$ref": "#/components/parameters/Width"
          },
          {
            "$ref": "#/components/parameters/Height"
          }
        ],
        "responses": {
          "200": {
            "description": "defines a metadata about files download links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/downloadMetadata"
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/folders/{folderSystemId}": {
      "get": {
        "tags": [
          "Folders",
          "M2M"
        ],
        "summary": "Get Folder",
        "description": "Get folder details",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder to get its details",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "define the folder detailed level to be returned. The following levels are supported: \nEverything, Study, Series, Instance, Comment, Attachment.\nYou can choose multiple fields to be returned. \"Study, Series\" are selected by default in case no value specified.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "Study, Series, Comment"
          }
        ],
        "responses": {
          "200": {
            "description": "the details about the requested folder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/folder"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      },
      "delete": {
        "tags": [
          "Folders",
          "M2M"
        ],
        "summary": "Delete a folder",
        "description": "Delete a patient folder. This will delete the entire folder and all of its content. There is no way back!",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder to get its details",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "operation completed succesfully"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      },
      "patch": {
        "tags": [
          "Folders",
          "M2M"
        ],
        "summary": "Update a folder",
        "description": "Update some details of the folder",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder to get its details",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "requestBody": {
          "description": "the updated details of the folder",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "owner",
                  "title"
                ],
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "the title of the folder",
                    "example": "My Folder Title"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "operation completed succesfully"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      }
    },
    "/folders/{folderSystemId}/series/{seriesSystemId}": {
      "delete": {
        "tags": [
          "Folders",
          "M2M"
        ],
        "summary": "Delete a series in a folder",
        "description": "Deletes a series in a folder. The folder may still exist in other folders. There is no way back!",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "seriesSystemId",
            "in": "path",
            "description": "the unique system ID of the series to delete",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "operation completed succesfully"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      }
    },
    "/patients/{patientSystemId}/folders/{folderSystemId}": {
      "get": {
        "tags": [
          "Folders",
          "M2M"
        ],
        "summary": "Get patient folder",
        "description": "Get folder details",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder to get its details",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "define the folder detailed level to be returned. The following levels are supported: \nEverything, Study, Series, Instance, Comment, Attachment.\nYou can choose multiple fields to be returned. \"Study, Series\" are selected by default in case no value specified.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "Study, Series, Comment"
          }
        ],
        "responses": {
          "200": {
            "description": "the details about the requested folder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/folder"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      },
      "delete": {
        "tags": [
          "Folders",
          "M2M"
        ],
        "summary": "Delete a patient folder",
        "description": "Delete a patient folder. This will delete the entire folder and all of its content. There is no way back!",
        "operationId": "patients.patientsystemid.folders.foldersystemid.delete",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder to get its details",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "operation completed succesfully"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      },
      "patch": {
        "tags": [
          "Folders",
          "M2M"
        ],
        "summary": "Update a patient folder",
        "description": "Update some details of the folder",
        "operationId": "patients.patientsystemid.folders.foldersystemid.patch",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "patientSystemId",
            "in": "path",
            "description": "the unique system ID of the patient",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          },
          {
            "name": "folderSystemId",
            "in": "path",
            "description": "the unique system ID of the folder to get its details",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "requestBody": {
          "description": "the updated details of the folder",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "owner",
                  "title"
                ],
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "the title of the folder",
                    "example": "My Folder Title"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "operation completed succesfully"
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      }
    },
    "/accounts/{accountSystemId}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account details",
        "description": "The method returns details about an account",
        "operationId": "accounts.accountSystemId.get",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "accountSystemId",
            "in": "path",
            "description": "the unique system ID of the account",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "123-ABC-456"
          }
        ],
        "responses": {
          "200": {
            "description": "information about the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      }
    },
    "/accounts/applications": {
      "get": {
        "tags": [
          "Account",
          "M2M"
        ],
        "summary": "Get M2M application details",
        "description": "The method returns M2M application details. To be used only with M2M JWT bearer token",
        "operationId": "accounts.applications.get",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "information about the M2M application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAppLinkedAccount"
                }
              }
            }
          },
          "401": {
            "description": "invalid sesion or session expired. Please login again."
          }
        }
      }
    },
    "/accounts/export": {
      "post": {
        "tags": [
          "Account",
          "M2M"
        ],
        "summary": "Initiate export process for one or more accounts",
        "description": "Start an export process for one or more accounts. Note: the request will return existing task id in case there is already an export request in process for the current user and current accounts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "includingPhi": {
                    "type": "boolean",
                    "description": "define if the data should be exported with PHI. Default is 'False'",
                    "example": "false"
                  },
                  "exportEntitiesIds": {
                    "type": "array",
                    "description": "system IDs of the entities to be exported",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export process has started/Existing export process already running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "taskId": {
                          "type": "string",
                          "description": "the new/existing export task id",
                          "example": "F8C5D317-887A-41E0-A7E4-65DD21972117"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. You do not have permissions to export data from all accounts in scope"
          }
        }
      }
    },
    "/patients/export": {
      "post": {
        "tags": [
          "Patients",
          "M2M"
        ],
        "summary": "Initiate export process for one or more patients",
        "description": "Start an export process for one or more patients. Note: the request will return existing task id in case there is already an export request in process for the current user and current patients.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "includingPhi": {
                    "type": "boolean",
                    "description": "define if the data should be exported with PHI. Default is 'False'",
                    "example": "false"
                  },
                  "exportEntitiesIds": {
                    "type": "array",
                    "description": "system IDs of the entities to be exported",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export process has started/Existing export process already running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "taskId": {
                          "type": "string",
                          "description": "the new/existing export task id",
                          "example": "F8C5D317-887A-41E0-A7E4-65DD21972117"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/folders/export": {
      "post": {
        "tags": [
          "Folders",
          "M2M"
        ],
        "summary": "Initiate export process for one or more folders",
        "description": "Start an export process for one or more folders. Note: the request will return existing task id in case there is already an export request in process for the current user current folders.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/VoyantClientAppName"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "includingPhi": {
                    "type": "boolean",
                    "description": "define if the data should be exported with PHI. Default is 'False'",
                    "example": "false"
                  },
                  "exportEntitiesIds": {
[...]
